<div class="displayInfo" *ngIf="hasActiveCategory()">
    <div class="numSolutionsDisplay" >Displaying {{ solutionCounter.displayedSolutions }} of {{ solutions?.length }} solutions </div>
    <input id="filterSolutions" 
        type="text" 
        placeholder="Search in solutions" 
        [(ngModel)]="solutionSearchQuery" 
        name="solutionSearchQuery"/>
    <label>
        <input type="checkbox" name="showUnique" [(ngModel)]="showUnique">
        Show Unique Solutions
    </label>
</div>
<div *ngFor="let solution of solutions | stringFilter : [solutionSearchQuery,solutionCounter]:showUnique" class="solution" #someVar>
    <app-solution 
        [solution]="solution"
        [mostRecentQuery]="mostRecentQuery"
    ></app-solution>
    <div class="solution-id">
        {{ solution.title }}
    </div>
</div>

