<div id="header">
  <div id="logoContainer">
    <img src="app/images/CW-Small.png" alt="Logo">
  </div>
  <form id="searchOptions" (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="queryTerms.env" name="env">
    <input type="text" [(ngModel)]="queryTerms.tenant" name="tenant">
    <input type="text" [(ngModel)]="queryTerms.lang" name="lang">
    <input type="text" [(ngModel)]="queryTerms.category" name="market">
    <input type="text" [(ngModel)]="queryTerms.model" name="model">
    <input type="text" [(ngModel)]="queryTerms.os" name="os">
    <button type="submit">Search</button>
  </form>
</div>
