<app-header
    (searchEvent)="onSearchEvent($event)"
>
</app-header>
<div id="wrapper">
  <div id="left-column">
    <div *ngFor="let category of categories" class="category">
      <app-main-category 
          [category]=category 
          [activeCategoryUUID]="solutions?.problemID"
          [mostRecentQuery]="mostRecentQuery"
          (onCategorySelect)="categorySelected($event)"
          >
      </app-main-category>
    </div>
  </div>
  <div id="right-column">
    <app-solutions-view [solutions]="solutions"></app-solutions-view>
  </div>
</div>