<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Auth0 - Angular 2</a>
      <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
      <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
    </div>
  </div>
</nav>

<app-header (searchEvent)="onSearchEvent($event)">
</app-header>
<div id="wrapper">
  <div class="tabs">
    <a routerLink="/troubleshooting" class="tab" routerLinkActive="selectedTab">Troubleshooting</a>
    <a routerLink="/usagetips" class="tab" routerLinkActive="selectedTab">Usagetips</a>
  </div>
  <router-outlet></router-outlet>
</div>