/* RGB */
$colorLight: rgba(255, 217, 218, 1);
$colorMainLight: rgba(234, 99, 140, 1);
$colorMainDark: rgba(137, 2, 62, 1);
$colorDark: rgba(48, 52, 63, 1);
$colorBlack: rgba(27, 32, 33, 1);
$colorPurpleDark: #39002f;
$background: rgba(245, 245, 245, 1);
$wrapperWidth: 90%;

@mixin transition($attribute, $time){
    -webkit-transition: $attribute $time;
    -moz-transition: $attribute $time;
    transition: $attribute $time;
}

@mixin box-sizing($type){
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}

@mixin boxShadow() {
    -webkit-box-shadow: 0px 8px 15px -5px rgba(71,71,71,0.5);
    -moz-box-shadow: 0px 8px 15px -5px rgba(71,71,71,0.5);
    box-shadow: 0px 8px 15px -5px rgba(71,71,71,0.5);
}

#wrapper {
    width: $wrapperWidth;
    display:block;
    margin:auto;
    text-align: center;
    margin-bottom:30px;
}

#left-column {
    display:inline-block;
    width:25%;
    text-align: left;
    vertical-align: top;
    margin-right:3%;
    @include boxShadow();
}

#right-column {
    display: inline-block;
    width:70%;
    text-align: left;
    vertical-align: top;

}

.category {
    margin-bottom:20px;
}

#input {
    text-align:center;
    margin-bottom: 20px;
}

#header #logoContainer {
    /* text-align: left;
    width: 23%;
    padding-left:(100%-$wrapperWidth)/2;
    @include box-sizing(border-box);
    vertical-align: bottom;
    display: inline-block;*/
    background: $colorMainDark;
    text-align:center;
    margin-bottom:20px;
    margin-top:20px;

    img {
        height: 51px;
        padding-top:15px;
        margin-left:20px;
        margin-right:20px;
    }
    height:  80px;
}

#searchOptions {
    text-align: center;
}

#header {
    @include boxShadow();
    input {
        width:10%;
    }
}

body {
    background: $background;
}

input {
    @include box-sizing(border-box);
    border: none;
    border-bottom:1px solid $colorMainLight;
    line-height:1.5em;
    display: inline-block;
    vertical-align: bottom;
    margin:0px 10px;
    // padding:10px;
    font-size: 1em;
    @include transition(border-bottom, 2s);
    &:focus {
        outline:none;
        @include transition(border-bottom, 2s);
        border-bottom:1px solid $colorMainDark;
    }
}

select {
    @extend input;
    border-radius: 0px;
    outline:0;
    background-color: white;
    
}

button {
    @extend input;
    background-color: $colorMainDark;
    color:white;
    padding:4px 20px;
    // margin:0px 10px;
    cursor:pointer;
    &:active {
        background-color:$colorMainLight;
    }
}

// .showAll {
//     width:100%;
//     margin:0;
//     background-color:white;
//     color:black;
// }

// .showAll.active {

// }

// .showAll.inactive {
//     background-color:white;
//     color:black;
// }

.solution {
    // border: 1px solid gray;
    font-size: 0.75em;
    line-height: 1.5;
    padding: 20px 20px;
    @include box-sizing(border-box);
    @include boxShadow();
    border-left: 3px solid $colorMainDark;
    margin-bottom:20px;
    background: white;
}

.problem .description {
    font-size:0.7em;
    padding:5px 20px;
    background: white;
    @include transition(padding, 0.5s);
    @include box-sizing(border-box);
    &:hover, &.selectedProblem {
        @include transition(padding, 0.2s);
        // background-color: $colorMainDark;
        padding-left:30px;
        // color:white;
    }
    &.selectedProblem {
        background-color: $colorMainDark;
        color:white;
    }
}



.showAll {
    background-color:white;
    color:black;
    width:100%;
    margin:0;
    &.active, &:hover {
        background-color: $colorMainDark;
        color: white;
    }
}

.background-purple {
    background-color: $colorPurpleDark;
    color:white;
}

// .selectedProblem {
//     background-color:$colorMainDark;
//     color:white;
// }

.divider {
    border-color: $colorPurpleDark;    
}

#filterSolutions {
    display:block;
    text-align: center;
    margin:auto;
    width:50%;
}

.mainSearch {
    margin: 20px 0px;
}